@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Roboto|Roboto+Slab');

{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
}

h1 {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 50px;
}

nav {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 30px;
	background-color: black;
	color: white;
	padding: 10px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

#red {
	color: rgb(255, 51, 0);
}

.category {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	width: 25%;
	float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.contact {
	font-family: "Roboto Slab", "Times New Roman", Times, serif;
	background-color: rgb(232, 232, 232);
	font-size: 15px;
	line-height: 1.5em;
	text-align: center;
	width: 33.3%;
	height: auto;
	padding-top: 20px;
	float: left;
}

.navbar {
	width: 33.3%;
	float: left;
}

@media screen and (max-width: 800px) {
	.category {
		width: 50%;
	}

	.contact {
		float: none;
		width: 100%;
		padding-top: 0px;
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		float: none;
		width: 100%;
		text-align: center;
	}

	h1 {
		text-align: center;
	}

	.category {
		float: none;
		width: 100%;
	}
}